@{
    ViewBag.Title = "Desafio Walmart";
    int minCharToSearch = (int)ViewData["minCharToSearch"];
}



<div class="row jumbotron divWalmart">
    <div class="col-md-12 text-center">
        <h1>Desafío <img class="PageLogo-image" src="https://cdn.corporate.walmart.com/12/9d/06ecf3584e91acccc37162f09714/logowhite.svg" alt="Walmart Corporate Homepage" height="75"></h1>
        <p class="lead">Escriba su búsqueda y haga click en el botón buscar</p>

    </div>
        
    <div class="col-md-11">
        <input type="search" class="form-control inputText" id="txtBuscador" />
    </div>
    <div class="col-md-1">
        <button type="button" id="btnBuscar" class="btn btn-warning disabled" onclick="BuscarProducto()" disabled>
            <i class="fa fa-search"></i>&nbsp;&nbsp;Buscar
        </button>
    </div>    
</div>
<div id="divError">
    @*en caso de error, aca se muestra el error*@
</div>
<div id="resultadoBusqueda" style="min-height: 500px;">
    @*se carga por ajax el resultado de la busqueda*@
</div>


@*guardamos en una constante los caracteres minimos para modificar el estado del boton buscar*@
<script>
    const MIN_CHAR_TO_SEARCH = @(minCharToSearch);
</script>
<script type="text/javascript" src="~/Scripts/Home/Buscador.js"></script>






