@using DataLayer.Models;

@{
    ViewBag.Title = "";
    Layout = null;
    string busqueda = ViewData["busqueda"] as string;
    List<Producto> listaProductos = ViewData["listaProducto"] as List<Producto>;
    bool esPalindromo = (bool)ViewData["esPalindromo"];
    
}

<div id="divListaProductos" class="row resultadoBusqueda">
    @if (listaProductos.Count > 0)
    {
        <div class="col-md-12 text-center">
            <small>Encontramos @(listaProductos.Count) resultado(s)</small>
        </div>
    }


    @for (int i = 0; i < listaProductos.Count; i++)
    {
        Producto prod = listaProductos[i];
        <div class="producto col-md-4 text-center">
            <p><img class="imgLista" src="http://@prod.Image" /></p>
            <h3>@prod.Brand</h3>
            <small>id: @prod.Id</small>
            <p class="descripcionProducto">@prod.Description</p>
            @*si es palindromo, aplicamos descuento en el producto*@
            @if (esPalindromo)
            {
                <h4 class="precioDescuento">$@(prod.Price / 2)</h4>
                <h6 class="precio"><s>$@prod.Price</s></h6>
            }
            else
            {
                <h4 class="precio">$@prod.Price</h4>
            }
        </div>
    }

    @*si no hay datos, mostramos un mensaje especial*@
    @if (listaProductos.Count == 0)
    {
        <div class="sinDatos col-md-12 text-center">
            <h2>Lo sentimos, no encontramos resultados</h2>
            <p>Intente nuevamente, por favor</p>
        </div>
    }

</div>